<div class="margin-content">
    <h1>Démarrer le jeu</h1>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Mon pseudo</ion-label>
            <ion-input type="text" [(ngModel)]="pseudo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Difficulté</ion-label>
            <ion-select [(ngModel)]="difficulty">
                <ion-select-option value="easy">Facile</ion-select-option>
                <ion-select-option value="medium">Intermédiaire</ion-select-option>
                <ion-select-option value="dificult">Difficile</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Sauvegarder mes informations</ion-label>
            <ion-toggle [(ngModel)]="save" checked="false"></ion-toggle>
        </ion-item>
        <ion-button expand="full" (click)="controlBeforeStart()">Commencer</ion-button>
    </ion-list>
</div>
