<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>
        Home
      </ion-title>
      <ion-button>
        <ion-icon slot="start" name="game-controller-outline"></ion-icon>
        <a class="link" routerLink="/trivial">Aller au trivial poursuite</a>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-rechercher></app-rechercher>
  </div>
</ion-content>
